<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortek Advogados</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/styles/index.css">
</head>

<body>
    <div class="header">
        <div class="left">
            <P>
                <img src="../../public/assets/logo_br.png" alt="" class="logo">
            Maine Advogados</p>
        </div>

        <div class="right">
            <img src="" alt="" class="phone">
            <P>(47) 75742-2565</P>
        </div>
    </div>
        
    

    <div class="container_up">
        <div>
            <h5>BEM VINDO A MAINE ADVOGADOS</h5>
            <div class="box"></div>
            <h1>COMO PODEMOS LHE AJUDAR?</h1>
            <p>Faremos uma avaliação gratuita de seu caso. Conte com a nossa experiência.</p>
            <button>Avaliação de Caso Gratuita</button>
        </div>

    </div>
    
    <div class="container_middle">


    </div>

    <div class="container_bottom">

    </div>

</body>
</html>