<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maine Advogados</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/styles/normalize.css">
    <link rel="stylesheet" href="../../public/styles/index.css">
    <script type="text/javascript" src='../../public/scripts/form.js'></script>
</head>

<body>
    <header>
        <div class="left">
            <img src="../../public/assets/logo_br.png" alt="" class="logo">
            <p>Maine Advogados</p>
        </div>

        <div class="right">
            <img src="" alt="" class="phone">
            <P>(47) 75742-2E6S</P>
        </div>
    </header>


    <section class="container_up">

        <div>
            <h5>BEM VINDO A MAINE ADVOGADOS</h5>
            <button class="reta"></button>
            <h1>COMO PODEMOS LHE AJUDAR?</h1>
            <p>Faremos uma avaliação gratuita de seu caso. Conte com a nossa experiência.</p>
            <button class="btn">Avaliação de Caso Gratuita</button>
        </div>

    </section>


    <section class="container_middle">

        <h3>SOBRE NÓS</h3>

        <div class="cards">
            <img src="../../public/assets/balanca1.jpg" alt="balança da justiça">
            <p>+200</p>
            <button></button>
            <p>Clientes</p>
        </div>

        <div class="cards">
            <img src="../../public/assets/martelo.jpg" alt="Martelo da Justiça">
            <p>+150</p>
            <button></button>
            <p>Casos de Sucesso</p>
        </div>

        <div class="cards">
            <img src="../../public/assets/juri.png" alt="Juri">
            <p>Especialidade</p>
            <button></button>
            <p>Trabalhista</p>
        </div>

        <div class="cards">
            <img src="../../public/assets/advogado.png" alt="advogado">
            <p>6</p>
            <button></button>
            <p>Profissionais</p>
        </div>

        <p class="small">Esta página é apenas uma demonstração de treinamento. Cacilds vidis litro abertis. Copo furadis
            é disculpa de bebadis, arcu quam euismod magna. Não sou
            faixa preta cumpadi, sou preto inteiris, inteiris. Quem
            num gosta di mim que vai caçá sua turmis! Mais vale um
            bebadis conhecidiss, que um alcoolatra anonimis.</p>

    </section>


    <section class="container_bottom">

        <main>
            <h3>QUEM SOMOS NÓS</h3>
            <button class="traco"></button>
            <p class="small">Manduma pindureta quium dia nois paga. Paisis, filhis, espiritis santis. Suco de cevadiss
                deixa as pessoas mais interessantis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
            </p>
            <section class="internal">
                <img src="../../public/assets/tingey.jpg" alt="">
                <p class="small">Mussum Ipsum, cacilds vidis litro abertis. Sapien in monti palavris qui num significa
                    nadis i pareci latim. Viva Forevis aptent taciti sociosqu ad litora torquent. Mé faiz elementum
                    girarzis, nisi eros vermeio. Copo furadis é disculpa de bebadis, arcu quam euismod magna.</p>
            </section>
            <section class="internal">
                <img src="../../public/assets/tingey.jpg" alt="">
                <p class="small">Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.
                    Delegadis gente finis, bibendum egestas augue arcu ut est. Casamentiss faiz malandris se pirulitá.
                    Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </section>
        </main>

        <aside>
            <h3>AVALIAÇÃO DE CASO</h3>
            <button class="traco"></button>
            <div class="black">
                <p class="small"> Quem num gosta di mim que vai caçá sua turmis! Mais vale um
                    bebadis conhecidiss, que um alcoolatra anonimis.</p>
                <form name="formulario" action="index.html" method="POST">
                    <input type="text" name="tname" id="name" placeholder="Nome" required>
                    <input type="email" name="temail" id="email" placeholder="Email" required>
                    <input type="tel" name="tphone" id="phone" placeholder="Telefone" required>
                    <textarea name="tcase" id="case" rows="3" placeholder="Descricção de Caso" required></textarea>
                    <button type="submit" onclick="return formValidation()"><strong>Avaliação Gratuíta</strong></button>

                </form>
            </div>
        </aside>

    </section>

    <footer>
        Criado por Claudiney Martins
    </footer>

</body>

</html>